@font-face {
  font-family: Trash;
  src: url(fonts/Trash-Regular.ttf);
}
@font-face {
  font-family: Apercu;
  src: url(fonts/Apercu\ Medium.otf);
}
body {
  font-family: Apercu;
  margin: 0;
}

/* ----------- NAV --------- */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 4vh 5vw;
  font-size: 20px;
}

.nav-rogue {
  font-family: Trash;
}


/* --------- HOME ----------- */
.home-container {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/home-background.jpg);
  background-position: 0 35%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.title-rogue {
  font-family: trash;
  font-size: 341px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}
.home-rogue {
  color: #fff;
}
.home-title {
  margin-top: 88vh;
  position: relative;
}
.home-r {
  height: 276px;
  position: absolute;
  bottom: 9vh;
  left: 13vw;
}

/* ------------ index ------------ */
.index-container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.index-x {
  height: 28px;
}
